<section>
  <h1>About Me</h1>
  <p>
      I am Gong Ming who works as a consultant in <a href="http://www.thoughtworks.com/">ThoughtWorks China</a>.
      My role in ThoughtWorks is developer, mostly time I do stuff in Android domain, while it's also common to
      see me works in a Web project, such as Jave web and Rails. Feel free to chat with me.
  </p>
  <p>Email me: <a href="mailto:gongmingqm10@gmail.com">gongmingqm10@gmail.com</a></p>
  <p>Github: <a href="https://github.com/gongmingqm10">gongmingqm10</a></p>
</section>
