// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#tag-cloud > a {
	font-size: 100.0% !important;
}

body {
  font-family: 'Roboto', sans-serif;
}

p {
  color: #242424;
  margin: 1.0rem, 0;
}

h1, h2, h3, h4 {
  font-family: "Roboto Condensed", sans-serif;
  margin: 1.5rem, 0;
}